.contact {
  margin-bottom: 40px;

  h2 {

  }

  form {
    margin-bottom: 40px;

    @media screen and (min-device-width: 450px) {
      width: 60%;
    }

    .form-group {
      margin: 0 0 10px 0;
    }

    label {
      display: block;
    }

    input {
      display: block;
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    button {
      -moz-border-radius: 28;
      -webkit-border-radius: 28;
      background-image: -moz-linear-gradient(top, $light_blue, $light_blue);
      background-image: -ms-linear-gradient(top, $light_blue, $light_blue);
      background-image: -o-linear-gradient(top, $light_blue, $light_blue);
      background-image: -webkit-linear-gradient(top, $light_blue, $light_blue);
      background-image: linear-gradient(to bottom, $light_blue, $light_blue);
      background: $light_blue;
      border-radius: 28px;
      color: $white;
      display: block;
      font-family: Arial;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
  }

  .direct-contact {
    margin-bottom: 40px;

    @media screen and (min-device-width: 450px) {
      text-align: left;
      width: 60%;
    }

    .email-info {
      margin-bottom: 20px;
    }
  }
}
