.contact-form {
  margin: 0 0 40px 0;

  h2 {
    width: 40%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    width: 40%;
    margin: 0 auto;

    .form-group {
      margin: 0 0 10px 0;
    }

    label {
      display: block;
    }

    input {
      display: block;
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    button {
      display: block;
      width: 100px;
    }
  }
}
