.contact {
  margin-bottom: 40px;

  h2 {

  }

  form {
    margin-bottom: 40px;

    .form-group {
      margin: 0 0 10px 0;
    }

    label {
      display: block;
    }

    input {
      display: block;
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    button {
      display: block;
      width: 100px;
    }
  }

  .direct-contact {
    margin-bottom: 40px;

    .email-info {
      margin-bottom: 20px;
    }
  }
}
