.episodes {
  grid-column-start: 1;
  grid-column-end: 4;

  h3 {
    background-color: $white;
    padding-left: 10px;

    &.active {
      background-color: $grey;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .post-body {
    display: none;

    p {
      margin-top: 0;
    }

    .pub-date {
      margin-bottom: 20px;
    }

    ul {
      margin: 10px 0 10px 0;
      padding: 0;

      li {
        display: inline-block;
        list-item-style: none;
        padding-right: 10px;

        a.listen, a.webpage {
          display: block;
          margin-bottom: 10px;
          text-decoration: none;
        }
      }
    }

    &.active {
      background-color: $grey;
      display: block;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 20px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
