.episodes {

  ul {
    padding-left: 20px;

    li {
      font-size: 1.4em;
      list-style: none;
      margin-bottom: 20px;
    }
  }

  .episode-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
