.episode {

  h1 {
    font-size: 2.0em;

    @media screen and (min-device-width: 450px) {
      font-size: 3.0em;
    }
  }

  h2, h3 {
    font-family: $font-main;
    font-size: 1.5em;

    @media screen and (min-device-width: 450px) {
      font-size: 1.7em;
    }
  }

  p {
    margin-left: 10px;
    line-height: 1.4;
  }

  .pub-date, .duration, .file-size, .download {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .label {
    font-weight: bold;
  }

  ul {

    li {
      margin-bottom: 5px;
    }
  }

  article {

    h4 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}
