header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: stretch;

  .person {
    text-align: center;

    .social {

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 10px;
      }
    }
  }

  .logo {
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .headline {
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .person-1 {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .person-2 {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
