header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: stretch;

  .logo {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;

    margin-bottom: 40px;
  }

  .headline {
    font-family: $font-header;
    font-size: 2.0em;
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .person {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

    .avatar {
      grid-column-start: 1;
      grid-column-end: 1;
      align-self: start;
      justify-self: end;
    }

    .details {
      grid-column-start: 2;
      grid-column-end: 4;
      align-self: start;
      justify-self: start;
      margin-left: 10px;

      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    .social {

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 10px;
      }
    }
  }

  .person-1 {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .person-2 {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
