header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 30px;
  align-items: stretch;

  .person {
    text-align: center;

    .social {

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 10px;
      }
    }
  }

  .person-1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .person-2 {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  .logo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .headline {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
