.hosts {
  display: grid;
  grid-template-columns: 40px 125px 1fr 125px 1fr;
  grid-template-rows: 120px 150px 150px;

  @media screen and (min-device-width: 450px) {
    grid-template-rows: 120px 120px;
  }

  h2 {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .person {

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .details {
      margin-left: 10px;

      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .bio {

        p {
          margin-left: 5px;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
    }

    .social {
      padding-left: 0;

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 15px;
      }
    }
  }

  .person-1 {
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 6;

    @media screen and (min-device-width: 450px) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .person-2 {
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 6;

    @media screen and (min-device-width: 450px) {
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }
}
