.hosts {

  .person {
    display: grid;
    grid-template-columns: 125px 1fr 1fr;
    margin-bottom: 20px;

    .avatar {
      grid-column-start: 1;
      grid-column-end: 1;
      align-self: start;
      justify-self: end;
    }

    .details {
      grid-column-start: 2;
      grid-column-end: 4;
      align-self: start;
      justify-self: start;
      margin-left: 10px;

      h3 {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .bio {

        p {
          margin-left: 5px;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
    }

    .social {
      padding-left: 5px;

      li {
        display: inline-block;
        list-style-type: none;
        padding-right: 15px;
      }
    }
  }

  .person-1 {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;

    @media screen and (min-device-width: 450px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .person-2 {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;

    @media screen and (min-device-width: 450px) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}
