.leadership {

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      font-size: 1.4em;
      margin-bottom: 20px;

      .label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
