<h2>Contribute</h2>
<img data-src='<%= image_path("transcript_icon.svg") %>' width="200" height="200" alt="transcription icon" title="transcript icon" class= "transcript-icon" />
<p>Help us produce <em>professional transcripts</em> for all episodes!</p>
<p>You can contribute via our Patreon page: <a href="https://www.patreon.com/ctothink">CTO Think is creating Episode Transcripts for Accessiblity</a>.</p>
<p>Transcripts allow people that are deaf or hard-of-hearing to participate in the show by reading the text-based content produced from our recordings. This process helps to make the show more inclusive for everyone.</p>
<p>For an example of our transcripts, check out our show notes for <%= link_to "Episode 2", "/episodes/2017-12-28-2.html" %>, near the middle of the post.</p>

