<h2>Contribute</h2>
<%= image_tag("transcript_icon.svg", width: 200, height: 200, alt: "transcription icon", title: "transcript icon", class: "transcript-icon") %>
<p>We've set up a <strong><a href="https://www.patreon.com/ctothink">Patreon</a></strong> campaign to help us achieve our first podcast goal: <em>Professional transcription of every episode.</em></p>
<p>Transcripts allow people that are deaf or hard-of-hearing to participate in the show by reading the text-based content produced from our recordings. This process helps to make the show more inclusive for everyone.</p>
<p>You can donate to the cause on our Patreon page: <a href="https://www.patreon.com/ctothink">CTO Think Podcast is creating Episode Transcripts for Accessiblity</a>.</p>
<p>For an example of our transcripts, check out our show notes for <%= link_to "Episode 2", "/episodes/2017-12-28-2.html" %>, near the middle of the post.</p>

