<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://share.transistor.fm/s/bb1e2fc2">
      From Manager/Dev to Non-coding Manager
    </a>
    <div class="episode-title">CTO Think, Episode 47</div>
    <div class="episode-date">
      May 19, 2020
    </div>
  </li>
  <li>
    <a href="https://share.transistor.fm/s/92d757ac">
      Vue, Vuex, Auth, and State Management
    </a>
    <div class="episode-title">This Old App, Episode 55</div>
    <div class="episode-date">
      Jun 23, 2020
    </div>
  </li>
  <li>
    <a href="https://share.transistor.fm/s/478cfdb0">
      Difficult Choices and Hard Conversations
    </a>
    <div class="episode-title">CTO Think, Episode 64</div>
    <div class="episode-date">
      March 31, 2020
    </div>
  </li>
  <li>
    <a href="https://share.transistor.fm/s/1fb1d144">
      Proposed Project Approach and the Wonders of Sous Vide Cooking
    </a>
    <div class="episode-title">This Old App, Episode 51</div>
    <div class="episode-date">
      January 28, 2020
    </div>
  </li>
</ul>
