<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/33-build-vs-buy-and-disrupting-processes">
      Build vs Buy and Disrupting Processes
    </a>
    <div class="episode-title">CTO Think, Episode 33</div>
    <div class="episode-date">
      Oct 9, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/21-debugging-azure-with-ego-driven-development">
      Debugging Azure with Ego Driven Development
    </a>
    <div class="episode-title">This Old App, Episode 21</div>
    <div class="episode-date">
      Oct 16, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/32-handling-critical-feature-updates">
      Handling Critical Feature Updates
    </a>
    <div class="episode-title">CTO Think, Episode 32</div>
    <div class="episode-date">
      September 11, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/13-callbacks-and-promises-and-awaits-oh-my">
      To Test or Not to Test?
    </a>
    <div class="episode-title">This Old App, Episode 19</div>
    <div class="episode-date">
      September 16, 2018
    </div>
  </li>
</ul>
