<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-03-20-14.html">
      You're so vain, you think in-office work is about you
    </a>
    <div class="episode-title">CTO Think, Episode 14</div>
    <div class="episode-date">
      March 20, 2018
    </div>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-03-14-13.html">
      Fostering a learning environment for your tech team
    </a>
    <div class="episode-title">CTO Think, Episode 13</div>
    <div class="episode-date">
      March 14, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-03-07-12.html">
      How to communicate when your product is on a roller coaster of uptime and downtime
    </a>
    <div class="episode-title">CTO Think, Episode 12</div>
    <div class="episode-date">
      March 7, 2018
    </div>
  </li>
  </li>
</ul>
