<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-02-25-11.html">
      Are code challenges a lazy or legitimate method for hiring developers?
    </a>
    <div class="episode-title">CTO Think, Episode 11</div>
    <div class="episode-date">
      Feb 25, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-02-18-10.html">
      What skills are necessary for a career path of technical leadership?
    </a>
    <div class="episode-title">CTO Think, Episode 10</div>
    <div class="episode-date">
      Feb 18, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-02-10-9.html">
      Developer focus is an excuse not to talk, right?
    </a>
    <div class="episode-title">CTO Think, Episode 9</div>
    <div class="episode-date">
      Feb 10, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/2018-02-03-8.html">
      How do you choose between self, managed, cloud, or serverless hosting?
    </a>
    <div class="episode-title">CTO Think, Episode 8</div>
    <div class="episode-date">
      Feb 3, 2018
    </div>
  </li>
</ul>
