<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/41-pushing-your-team-and-self-to-the-limits">
      Pushing Your Team and Self to the Limits
    </a>
    <div class="episode-title">CTO Think, Episode 41</div>
    <div class="episode-date">
      Jan 29, 2019
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/28-products-are-fun-promotion-is-not-and-preventing-perfectionism">
      Products are Fun, Promotion is Not, and Preventing Perfectionism
    </a>
    <div class="episode-title">This Old App, Episode 28</div>
    <div class="episode-date">
      Jan 22, 2019
    </div>
  <li>
    <a href="https://www.ctothink.com/episodes/40-setting-goals-for-your-team">
      Setting Goals for your Team
    </a>
    <div class="episode-title">CTO Think, Episode 40</div>
    <div class="episode-date">
      Jan 15, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/27-discussing-firebase-authentication">
      Discussing Firebase Authentication
    </a>
    <div class="episode-title">This Old App, Episode 27</div>
    <div class="episode-date">
      Jan 8, 2019
    </div>
  </li>
  </li>
</ul>
