<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/22-compassionate-coding-with-april-wensel">
      Compassionate Coding with April Wensel
    </a>
    <div class="episode-title">CTO Think, Episode 22</div>
    <div class="episode-date">
      May 22, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.transistor.fm/episodes/finding-firebase">
      Finding Firebase
    </a>
    <div class="episode-title">This Old App, Episode 9</div>
    <div class="episode-date">
      May 22, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/21-meetings-schmeetings">
      Meetings, Schmeetings
    </a>
    <div class="episode-title">CTO Think, Episode 21</div>
    <div class="episode-date">
      May 15, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.transistor.fm/episodes/failing-and-shipping-with-a-30-day-deadline">
      The 30-Day Deadline of Failure and Follow-Through
    </a>
    <div class="episode-title">This Old App, Episode 5</div>
    <div class="episode-date">
      April 24, 2018
    </div>
  </li>
</ul>
