<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://share.transistor.fm/s/7e82c11e">
      Business Metrics and the Lack of Context
    </a>
    <div class="episode-title">CTO Think, Episode 47</div>
    <div class="episode-date">
      April 23, 2019
    </div>
  </li>
  <li>
    <a href="https://share.transistor.fm/s/e7520578">
      Managed Hosting Rocks! WPEngine, Pantheon, and Heroku
    </a>
    <div class="episode-title">This Old App, Episode 35</div>
    <div class="episode-date">
      April 30, 2019
    </div>
  <li>
    <a href="https://share.transistor.fm/s/92eb6c66">
      Customer Perspectives and Managing Expectations
    </a>
    <div class="episode-title">CTO Think, Episode 45</div>
    <div class="episode-date">
      March 26, 2019
    </div>
  </li>
  <li>
    <a href="https://share.transistor.fm/s/5d7fa46b">
      Typescript Pain. Is there any Gain?
    </a>
    <div class="episode-title">This Old App, Episode 34</div>
    <div class="episode-date">
      April 16, 2019
    </div>
  </li>
  </li>
</ul>
