<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://thisoldapp.online/episodes/27-discussing-firebase-authentication">
      Discussing Firebase Authentication
    </a>
    <div class="episode-title">This Old App, Episode 27</div>
    <div class="episode-date">
      Jan 8, 2019
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/39-brainstorming-the-tech-managed-meetup">
      Brainstorming the Tech, Managed meetup
    </a>
    <div class="episode-title">CTO Think, Episode 39</div>
    <div class="episode-date">
      Dec 31, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/26-follow-up-with-mark-on-flutter-totallystrong-me-and-family">
      Follow-up with Mark on Flutter, TotallyStrong.me, and Family
    </a>
    <div class="episode-title">This Old App, Episode 26</div>
    <div class="episode-date">
      Dec 27, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/38-kubernetes-exploits-bernie-madoff-and-minimal-skepticism">
      Kubernetes Exploits, Bernie Madoff, and Minimal Skepticism
    </a>
    <div class="episode-title">CTO Think, Episode 38</div>
    <div class="episode-date">
      Dec 18, 2018
    </div>
  </li>
</ul>
