<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/35-should-we-open-source-this">
      Should We Open Source This Code?
    </a>
    <div class="episode-title">CTO Think, Episode 35</div>
    <div class="episode-date">
      Nov 7, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/22-chipping-away-at-project-blockers">
      Chipping Away at Project Blockers
    </a>
    <div class="episode-title">This Old App, Episode 22</div>
    <div class="episode-date">
      Oct 30, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/34-adventures-in-interviewing">
      Adventures in Interviewing
    </a>
    <div class="episode-title">CTO Think, Episode 34</div>
    <div class="episode-date">
      Oct 23, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/21-debugging-azure-with-ego-driven-development">
      Debugging Azure with Ego Driven Development
    </a>
    <div class="episode-title">This Old App, Episode 21</div>
    <div class="episode-date">
      Oct 16, 2018
    </div>
  </li>
</ul>
