<h2>Podcast Episodes</h2>
<ul>
  <li>
    <a href="https://www.ctothink.com/episodes/26-when-everythings-going-wrong">
      When Everything's Going Wrong
    </a>
    <div class="episode-title">CTO Think, Episode 27</div>
    <div class="episode-date">
      July 3, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/14-moms-can-code-with-bekah-hawrot-weigel">
      Moms Can: Code with Bekah Hawrot Weigel
    </a>
    <div class="episode-title">This Old App, Episode 14</div>
    <div class="episode-date">
      June 26, 2018
    </div>
  </li>
  <li>
    <a href="https://www.ctothink.com/episodes/26-stakeholder-types-and-working-with-them">
      Stakeholder Types and Working With Them
    </a>
    <div class="episode-title">CTO Think, Episode 26</div>
    <div class="episode-date">
      June 26, 2018
    </div>
  </li>
  <li>
    <a href="https://thisoldapp.online/episodes/13-callbacks-and-promises-and-awaits-oh-my">
      Callbacks! and Promises! and Awaits! Oh My!
    </a>
    <div class="episode-title">This Old App, Episode 13</div>
    <div class="episode-date">
      June 19, 2018
    </div>
  </li>
</ul>
