<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink">
        <%= image_tag("twitter_icon.svg", width: "40", height: "40") %>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/ctothink">
        <%= image_tag("facebook_icon.svg", width: "40", height: "40") %>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/ctothink">
        <%= image_tag("linkedin_icon.svg", width: "40", height: "40") %>
      </a>
    </li>
  </ul>
</div>
<div class="copyright">
  &copy; 2017-2018 CTO Think. All Rights Reserved.
</div>
