<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink">Twitter</a>
    </li>
    <li>
      <a href="https://facebook.com/ctothink">Facebook</a>
    </li>
    <li>
      <a href="https://linkedin.com/ctothink">LinkedIn</a>
    </li>
  </ul>
</div>
<div class="copyright">
  &copy; 2017-2018 CTO Think. All Rights Reserved.
</div>
