<div class="logo">
  <a href="/">
    <%= image_tag("cto_think_logo_header.png", width: 300, height: 300, alt: "CTO Think Logo", title: "CTO Think") %>
  </a>
</div>
<div class="headline"><%= config[:site_description] %></div>
