<div class="logo">
  <a href="/">
    <%= image_tag("randy_burgess_picture.png", width: 100, height: 100, alt: "Randy Burgess Picture", title: "Randy Burgess") %>
  </a>
</div>
<div class="headline"><%= config[:site_description] %></div>
