<div class="person person-1">
  <div class="avatar">
    <img src="http://via.placeholder.com/100x100" />
  </div>
  <div class="name">Don VanDemark</div>
  <div class="bio">Don is a person</div>
  <div class="social">Twitter</div>
</div>
<div class="logo">
  <img src="http://via.placeholder.com/200x200" />
</div>
<div class="person person-2">
  <div class="avatar">
    <img src="http://via.placeholder.com/100x100" />
  </div>
  <div class="name">Randy Burgess</div>
  <div class="bio">Randy is a person</div>
  <div class="social">Facebook</div>
</div>
<div class="headline">Everything is about the podcast</div>
