<h2>Leadership Roles</h2>
<ul>
  <li>
    <span class="label">Vice President of Technology, MPI Media</span>
    Managing the technology and software needs of a film and tv producer/distributor</li>
  <li>
    <span class="label">Senior Engineering Manager, Shipwell</span>
    Managed two large software teams (20+ engineers) remotely, across the world, to support a large TMS SaaS product and 3PL brokerage
  </li>
  <li>
    <span class="label">Engineering Manager, Hireology</span>
    Managed several software teams, in-step with Product and Design teams, to deliver quality software feature on time, for a large SaaS product
  </li>
  <li>
    <span class="label">Chief Technology Officer, Innovations for Learning</span>
    Hired and managed a remote-based team for an Evanston-based non-profit. We rebuilt the organization's base data platform and mobile apps after bringing the technology development back from an outsourced team.
  </li>
  <li>
    <span class="label">Vice President of Tech, Horizon Cash Management</span>
    Worked for 10 years in the role of IT Director for a small finance firm that managed up to $3 billion in cash funds.
  </li>
  <li>
    <span class="label">Property Management</span>
    President of a 32-unit condo association for 10+ years. Coordinated a $9 million sale of the property.
  </li>
  <li>
    <span class="label">Instructor</span>
    Taught a full-stack coding bootcamp at Northwestern University of 28 students over six-months.
  </li>
  <li>
    <span class="label">Mentor</span>
    Over the years, I've helped a number of junior developers climb the learning curve and start new careers in programming.
  </li>
</ul>
