<h2>Leadership Roles</h2>
<ul>
  <li>
    <strong>Small Business Owner</strong>
    Running a web/app consultancy, helping clients build startup applications and innovating upon their current platforms.
  </li>
  <li>
    <strong>CTO of Innovations for Learning</strong>
    Hired and managed a remote-based team to rebuild the organization's base platform and mobile apps
  </li>
  <li>
    <strong>Vice President</strong>
    Spent 10 years in the role of IT Director for a small finance firm as technology rapidly changed
  </li>
  <li>
    <strong>Property Management</strong>
    President of condo association for 10+ years. Coordinated a $9 million sale of the property.
  </li>
  <li>
    <strong>Instructor</strong>
    Taught a full-stack coding bootcamp at Northwestern University of 28 students over six-months
  </li>
  <li>
    <strong>Mentor</strong>
    Over the years, I've helped a number of junior developers climb the learning curve and start new careers in programming
  </li>
<ul>
