<h2>Leadership Roles</h2>
<ul>
  <li>
    <span class="label">Small Business Owner</span>
    Currently running a small web/app consultancy, helping clients build startup applications and innovating upon their current platforms.
  </li>
  <li>
    <span class="label">Chief Technology Officer</span>
    Hired and managed a remote-based team for an Evanston-based non-profit, Innovations for Learning. We rebuilt the organization's base data platform and mobile apps after bringing the technology development back from an outsourced team.
  </li>
  <li>
    <span class="label">Vice President</span>
    Worked for 10 years in the role of IT Director for a small finance firm, Horizon Cash Management, that managed up to $3 billion in cash funds.
  </li>
  <li>
    <span class="label">Property Management</span>
    President of a 32-unit condo association for 10+ years. Coordinated a $9 million sale of the property.
  </li>
  <li>
    <span class="label">Instructor</span>
    Taught a full-stack coding bootcamp at Northwestern University of 28 students over six-months.
  </li>
  <li>
    <span class="label">Mentor</span>
    Over the years, I've helped a number of junior developers climb the learning curve and start new careers in programming.
  </li>
</ul>
