<h2>Leadership Roles</h2>
<ul>
  <li>
    <span class="label">Small Business Owner</span>
    Running a web/app consultancy, helping clients build startup applications and innovating upon their current platforms.
  </li>
  <li>
    <span class="label">CTO of Innovations for Learning</span>
    Hired and managed a remote-based team to rebuild the organization's base platform and mobile apps.
  </li>
  <li>
    <span class="label">Vice President</span>
    Spent 10 years in the role of IT Director for a small finance firm as technology rapidly changed.
  </li>
  <li>
    <span class="label">Property Management</span>
    President of a 32-unit condo association for 10+ years. Coordinated a $9 million sale of the property.
  </li>
  <li>
    <span class="label">Instructor</span>
    Taught a full-stack coding bootcamp at Northwestern University of 28 students over six-months.
  </li>
  <li>
    <span class="label">Mentor</span>
    Over the years, I've helped a number of junior developers climb the learning curve and start new careers in programming.
  </li>
<ul>
