<h2>Mailing List</h2>
<h3>Receive updates when we launch new episodes!</h3>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://ctothink.us17.list-manage.com/subscribe/post?u=1c1faca4e9429f6acd3afe37e&amp;id=01a69738e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" rel="noopener" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Email Address</label>
      <input type="email" value="" name="email" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_1c1faca4e9429f6acd3afe37e_01a69738e4" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #000000;">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
