<% article = blog.articles.first %>

<a id="listen"></a>
<h2>Listen</h2>
<h3><%= "Episode #{article.data.id}: #{article.title}" %></h3>
<audio src="<%= cdn_file_url(article.data.audio_file_name) %>" preload="auto" width="100%"></audio>
