<% article = blog.articles.first %>

<a id="listen"></a>
<h2>Listen to my podcast, CTO Think</h2>
<h3><%= "Episode #{article.data.id}: #{article.title}" %></h3>
<div class="summary"><%= article.summary %></div>
<audio controls preload="auto" src="<%= cdn_file_url(article.data.audio_file_name) %>">
  Your browser does not support the audio element.
</audio>
