<h2>Latest Blog Posts</h2>
<ul>
  <% blog.articles.each_with_index do |article, index| %>
  <li>
    <div class="post-title">
      <a href="<%= article.url %>"><%= article.title %></a>
    </div>
    <div class="post-date">
      <%= article.date.strftime("%A, %B %e, %Y") %>
    </div>
    <div class="post-content">
      <%= article.summary %>
    </div>
  </li>
  <% end %>
</ul>
