<h2>Speaking Engagements</h2>
<ul>
  <li>
    <a href="https://www.meetup.com/techmanaged/events/257783734/" target="_blank" rel="noopener">
      Tech, Managed Meetup
    </a>
    <div class="presentation-title">The Front-end and Back-end Explained</div>
    <div class="presentation-date">Wed, Jan 30, 2019 - 6:30 PM to 8:30 PM</div>
    <div class="presentation-location">Kansas City, MO</div>
  </li>
  <li>
    <a href="https://devfestkc.com/home" target="_blank" rel="noopener">
      DevFest KC 2019
    </a>
    <div class="presentation-title">A 360 View of the Firebase Authentication Experience</div>
    <div class="presentation-date">Sat, Feb 9, 2019</div>
    <div class="presentation-location">University of Missouri - Kansas City</div>
  </li>
</ul>
