<h2>Projects</h2>
<ul>
  <li>
    <p>All Aboard Apps</p>
    <p>I run a small web/app development consultancy that works with small businesses, startups, and remote teams</p>
    </a>
  </li>
  <li>
    <p>CTO Think Podcast</p>
    <p>My good friend, Don VanDemark, and I produce a weekly podcast about leadership, product dev, and tech decisions</p>
  </li>
  <li>
    <p>HOA Done</p>
    <p>I taught a six-month full-stack coding bootcamp at Northwestern University in 2017. Now, I sometimes substitue teach classes, mentor junior devs, and I'm helping my wife, Megan, learn how to code.</p>
  </li>
  <li>
    <p>Coding Boot Camp Instructor</p>
    <p>I taught a six-month full-stack coding bootcamp at Northwestern University in 2017. Now, I sometimes substitue teach classes, mentor junior devs, and I'm helping my wife, Megan, learn how to code.</p>
  </li>
</ul>
