<h2>Projects</h2>
<ul>
  <li>
    <div class="label"><a href="https://www.allaboardapps.com" target="_blank" rel="noopener">All Aboard Apps</a></div>
    <p>I run a small web/app development consultancy that works with small businesses, startups, and remote teams.</p>
  </li>
  <li>
    <div class="label"><a href="https://bootcamp.northwestern.edu/" target="_blank" rel="noopener">Coding Boot Camp Instructor</a></div>
    <p>I taught a six-month full-stack coding bootcamp at Northwestern University in 2017. Now, I sometimes substitue teach classes, mentor junior devs, and I'm helping my wife, Megan, learn how to code.</p>
  </li>
  <li>
    <div class="label"><a href="https://www.ctothink.com" target="_blank" rel="noopener">CTO Think Podcast</a></div>
    <p>My good friend, Don VanDemark, and I produce a podcast about leadership, product dev, and tech decisions.</p>
  </li>
  <li>
    <div class="label"><a href="https://www.ctothink.com" target="_blank" rel="noopener">This Old App Podcast</a></div>
    <p>A second podcast about about learning, coding, smashing stuff together, breaking things apart, startups, failing, winning, and any other buzzwords we can think of.</p>
  </li>
</ul>
