<h2>Skills</h2>
<ul>
  <li>
    <span class="label">Base</span>
    HTML, CSS, Sass, CSS Grid
  </li>
  <li>
    <span class="label">Front End</span>
    JavaScript, React, React Native, Vue
  </li>
  <li>
    <span class="label">Back End</span>
    Ruby, Ruby on Rails, Node, Express
  </li>
  <li>
    <span class="label">Testing</span>
    RSpec, Mocha, Chai, Sinon
  </li>
  <li>
    <span class="label">Data</span>
    PostgreSQL, MySQL, SQL Server, Redis, Firebase, MongoDB
  </li>
  <li>
    <span class="label">Process</span>
    TDD, Agile, Continuous Integration, Remote Teams
  </li>
  <li><span class="label">Other Tools</span>
    Amazon Web Services (AWS), E-commerce, Elasticsearch, Braintree, Payments, Drupal, Wordpress, PHP
  </li>
  <li><span class="label">Service Providers</span>
    Braintree API, Stripe API, Twilio API, Slack API
  </li>
  <li><span class="label">Learning</span>
    GraphQL, Elixir/Phoenix, and Ethereum/Solidity
  </li>
</ul>
