<h2>Skills</h2>
<ul>
  <li>
    <strong>Base</strong>
    HTML, CSS, Sass
  </li>
  <li>
    <strong>Front End</strong>
    JavaScript, React, Redux, Mocha
  </li>
  <li>
    <strong>Back End</strong>
    Ruby, Rails, RSpec, Node, Express
  </li>
  <li>
    <strong>Data</strong>
    PostgreSQL, MySQL, SQL Server, Redis, Firebase, MongoDB
  </li>
  <li>
    <strong>Process</strong>
    TDD, Agile, Continuous Integration, Remote Teams
  </li>
  <li><strong>Others</strong>
    E-commerce, Elasticsearch, Drupal, Wordpress, PHP
  </li>
  <li><strong>Learning</strong>
    React/Redux, Vue.js, GraphQL, Elixir/Phoenix, and Ethereum
  </li>
<ul>
