<h2>Skills</h2>
<ul>
  <li>
    <span class="label">Base</span>
    HTML, CSS, Sass, CSS Grid
  </li>
  <li>
    <span class="label">Front End</span>
    JavaScript, TypeScript, React, Redux, React Native, Vue, Vuex
  </li>
  <li>
    <span class="label">Back End</span>
    Ruby, Ruby on Rails, Node, Express, Golang, Firebase Functions, AWS Lambda
  </li>
  <li>
    <span class="label">Testing</span>
    RSpec, Jest, Mocha, Chai, Sinon
  </li>
  <li>
    <span class="label">Data</span>
    PostgreSQL, MySQL, SQL Server, Redis, Firebase Firestore, MongoDB
  </li>
  <li>
    <span class="label">Process</span>
    TDD, Agile, Continuous Integration, Remote Teams
  </li>
  <li><span class="label">Other Tools</span>
    Amazon Web Services (AWS), E-commerce, Elasticsearch, Braintree, Payments, Drupal, WordPress, PHP
  </li>
  <li><span class="label">Service Providers</span>
    Braintree API, Stripe API, Twilio API, Slack API
  </li>
  <li><span class="label">Learning</span>
    GraphQL, Docker, Kubernetes
  </li>
</ul>
