<h2>Slides</h2>
<ul>
  <li>
    <div class="label"><a href="/slides/front-and-back.pdf" rel="noopener">Front-end and Back-end Explained</a></div>
    <p>Presentation at the Tech, Managed Meetup in February 2019</p>
  </li>
  <li>
    <div class="label"><a href="/slides/firebase-authentication.pdf" rel="noopener">Firebase Authentication</a></div>
    <p>Presentation at KC DevFest 2019</p>
  </li>
</ul>
