<h2>Subscribe</h2>
<ul>
  <li>
    <a href="/rss.xml">
      <%= image_tag("rss_icon.svg", width: "40", height: "40", alt: "RSS Feed Icon", title: "RSS Feed") %>
    </a>
    <div class="service-name">RSS Feed</div>
  </li>
  <li>
    <a href="https://itunes.com/">
      <%= image_tag("apple_icon.svg", width: "40", height: "40", alt: "Apple Podcasts Icon", title: "Apple Podcasts") %>
    </a>
    <div class="service-name">Apple Podcasts</div>
  </li>
  <li>
    <a href="https://www.googleplay.com/">
      <%= image_tag("google_play_icon.svg", width: "40", height: "40", alt: "Google Play Icon", title: "Google Play") %>
    </a>
    <div class="service-name">Google Play</div>
  </li>
  <li>
    <a href="https://www.stitcher.com/">
      <%= image_tag("stitcher_icon.png", width: "40", height: "40", alt: "Stitcher Icon", title: "Stitcher") %>
    </a>
    <div class="service-name">Stitcher</div>
  </li>
</ul>
